[Unit]
Description=Caph server
After=caph_db.service

[Service]
Type=simple
Environment=MORGAN_COLOR=false
Environment=RUST_BACKTRACE=1
Environment=EVE_REDIRECT_URL=
Environment=EVE_CLIENT_ID=
Environment=EVE_SECRET_KEY=
ExecStartPre=/bin/sleep 2
ExecStart=/opt/caph/caph_server
Restart=always

[Install]
WantedBy=multi-user.target
