[Unit]
Description=Caph data collector

[Service]
Environment=RUST_BACKTRACE=1
Environment=COLLECTOR_BIND_ADDR=
Environment=DATABASE_URL=
Environment=EVE_USER_AGENT=
Environment=EVE_CLIENT_ID=
Environment=EVE_SECRET_KEY=

Type=simple
ExecStart=/opt/caph/collector
Restart=always

[Install]
WantedBy=multi-user.target
