[Unit]
Description=Caph data collector

[Service]
Type=simple
Environment=MORGAN_COLOR=false
Environment=RUST_BACKTRACE=1
Environment=DB=postgres://caph:caph@cygnus.local:5432/caph_eve
ExecStart=/home/pleb/caph_collector

[Install]
WantedBy=multi-user.target